@charset "UTF-8";
@author "Emanuel dos Santos Paz";

/* Padrão do Site */
body {
	font-family: helvetica,sans-serif,arial;
	font-size: 1.125em;

}

/* Texto padrão */
p {
	text-indent: 25px;
	padding: 5px;
	color: #868686;
	text-shadow: 1px 1px 0px #fff;
	text-align: center;
}
/* Margin no Topo */
header{
	margin-bottom:0 !important;
}
/* Edição dos Elementos de Texto / Padrão do Site */
h1{
color: rgba(55, 95, 255, 0.8);
font-size: 70px;
font-weight: 800;
letter-spacing: -3px;
line-height: 50px;
text-align: center;
}
h2{
	font-size: 50px;
	text-align: center;
	text-shadow: 1px 1px 0px #fff;
	color:rgba(0,0,0,0.8) ;
}
h2 span {
  font-size: 35px;
  font-weight: 300;
  line-height:60px;
}

/* Menu */

.navbar .navbar-nav{
	display: inline-block;
	float: none !important;
}
.navbar .navbar-collapse{
	text-align: center;

}
.navbar-inverse .navbar-nav  li a{
	color: #fff;
	font-family: verdana;
}
.navbar-inverse .navbar-nav  li a:hover {
	color: #696969;
}
.navbar-brand{
	padding-top: 5px;
}
/*Fim menu */
/* Edição do Carousel */

#myCarousel{
	margin-top: -20px;

}
#myCarousel img {
	width: 100%;
}
/*Fim Edição Carousel */
/* Inicio edição da medidas das Images*/
#empresa img {
	width: 72px;
}
#imgFuncionario img{
	width: 72px;
}
#funcionario img {
	width: 50%;
}
.colunas img {
	width: 72px;
}
#redesSociais img {
	width: 32px;
}
#parceiros img {
	width:32px;
}
#imagemCentral{
	margin: 0 auto;
	text-align: center;
}


/* Sessão Rede Sociais pra Centralizar os Links */
#redesSociais, #parceiros{
	margin: 0 auto;
	text-align: center;
}

.carousel-caption{
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
}
#s1{
	color: #868686;
}
#s2, #s3 {
	color: white;
}
#textoContato, #textoParceiros , #textoRedeSocial {
	font-size: 20px;
	color: #868686;
	text-shadow: 1px 1px 0px #fff;
}
#fornecedor img{
	margin: 0 auto;
	text-align: center;
}
/* Elemento de Texto da ACP */
.chamada {
	text-align: center;
}
.chamada img {
	width:50%;
	margin: 0 auto !important;
}

.col-sm-6, .col-sm-4,.col-sm-12{
	font-size: 18px;
}

.text-center .img-responsive{
	margin: 0 auto !important;
	text-align: justify;

}
